* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
}

/* h3 {
	font-family: 'Goblin One', serif;
	font-weight: 400;
	font-style: normal;
	color: #f20530;
} */

h3 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	line-height: 1.5;
	font-style: normal;
	color: #f20530;
}

p {
	font-family: 'Lato', serif;
	font-weight: 400;
	font-style: normal;
}
a {
	font-family: 'Lato', serif;
	font-weight: 600;
	font-style: normal;
}

/* ------------------------------- CTA Section ------------------------------ */

.cta {
	display: flex;
	place-content: center;
	background-image: url('LosPollosImages-gif/header.jpg');
	background-position: 0 50%;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
}

.cta img {
	width: 500px;
	height: 300px;
	object-fit: fit;
	border-radius: 10px;
}

.cta {
	height: 20rem;
	width: 100%;
}

.cta-inner {
	display: table;
	text-align: center;
	font-family: 'Arvo', serif;
}

.cta-inner p {
	font-size: 5.5rem;
	font-weight: 800;
	color: white;
	-webkit-text-stroke: 3px #f2022f;
	margin-bottom: 25px;
}

.cta-inner button {
	font-size: 30px;
	padding: 1rem;
	width: 20rem;
	border-radius: 0.8rem;
	transition: background-color 0.5s ease;
	font-weight: 700;
	border: 0.25rem solid white;
	background-color: #f2022f;
	color: white;
	text-transform: uppercase;
	box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.cta-inner a {
	text-decoration: none;
	color: inherit;
}

.cta-inner button:hover {
	cursor: pointer;
	background-color: white;
	color: #f2022f;
	border: 4px solid #f2022f;
}

.cta-inner button:active {
	background-color: rgb(233, 229, 229);
	transition: 0s;
}

/* ---------------------------------------------------- */
/* ------               Header Section       ----------*/
/* ---------------------------------------------------- */

#logo {
	width: 100px;
}
.header {
	display: flex;
	flex-direction: row;
	background-color: #f20530;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}
.header a {
	color: white;
	text-decoration: none;
}
.userNav,
.nav,
.logo {
	display: flex;
	align-items: center;
	gap: 40px;
}

.nav a:hover,
.userNav a:hover {
	color: #f2e205;
}
.Modalbutton {
	color: white;
	background-color: transparent;
	border: none;
	font-family: 'Lato', serif;
	font-weight: 600;
	font-style: normal;
	font-size: medium;
}
.Modalbutton ion-icon {
	color: #f2e205;
}

.Modalbutton:hover {
	color: #f2e205;
	cursor: pointer;
}

#Searchbar {
	border-radius: 20px;
	background-color: hsl(349, 96%, 45%);
	border: none;
	color: white;
	padding: 10px;
}
#Searchbar::placeholder {
	color: hsl(0, 0%, 70%);
}
#Searchbar:focus {
	outline: none;
	border: none;
}
#UserProf,
#Cart {
	font-size: 30px;
	color: #f2e205;
}
#Navbtn {
	display: flex;
	background-color: #f2e205;
	justify-content: center;
	border-radius: 10px;
	width: 120px;
	padding: 3%;
	color: rgb(205, 89, 0);
	font-weight: 900;
}
#Navbtn:hover {
	color: rgb(205, 89, 0);
	transform: scale(1.2);
	box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
	transition: 0.4s;
}

/* -------------------------------------------------------------------------- */
/*                                 Form Styles                                */
/* -------------------------------------------------------------------------- */
.form-inner {
	display: grid;
	grid-template-columns: 2, 1fr;
}

.form-section img {
	height: 10rem;
	width: 7rem;
}

.form-section {
	background-color: #fde944;
	padding: 60px 20px;
	padding-bottom: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.form-containerCat {
	max-width: 1000px;
	width: 100%;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-containerCat h2 {
	font-size: 2.3em;
	color: #d71d3f;
	margin-bottom: 15px;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
}

.form-containerCat p {
	font-size: 1.2em;
	color: #777;
	margin-bottom: 30px;
}

/* Form Styles */
.catering-form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form-group label {
	font-size: 1em;
	margin-bottom: 8px;
	color: #333;
}

.form-group input,
.form-group select {
	font-size: 1em;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	width: 100%;
	background-color: #f9f9f9;
}

.form-group input:focus,
.form-group select:focus {
	border-color: #d71d3f;
	outline: none;
}

.form-group textarea {
	resize: none;
	width: 60rem;
	height: 10rem;
	border-color: #dddddd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.form-button {
	margin-top: 2rem;
	padding: 12px 20px;
	font-size: 1.3em;
	background: #d71d3f;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border: 1px solid #d71d3f;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Arvo', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
}

.form-containerCat a {
	color: #d71d3f;
}

.cta-button:hover {
	background: #d03934;
}
/* -------------------------------------------------------------------------- */
/*                                Modal pop up                              */
/* -------------------------------------------------------------------------- */
@keyframes animateTop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
.popup-container {
	margin: 6.5% 37%;
	animation: animateTop 0.8s;
}
.modal {
	z-index: 1001;
	display: none;
	position: fixed;
	/* overflow: scroll; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: hsl(0, 0%, 0%, 0.4);
}
.popup-card {
	display: flex;
	/* overflow: scroll; */
	flex-direction: column;
	align-items: center;
	margin: 5% auto;
	background-color: hsl(0, 0%, 97%);
	height: 41.25rem;
	width: 350px;
	padding: 6%;
	border-radius: 20px;
	row-gap: 20px;
}
.popup-head {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 200px;
}
.popup-head h5 {
	font-family: 'Arvo', 'Lato', serif;
	justify-self: center;
	transform: translate(7rem, 0%);
	font-size: 1.6rem;
	font-weight: 600;
	width: max-content;
	text-transform: uppercase;
}

.Closebtn {
	background-color: transparent;
	border: none;
	width: 20px;
	font-size: 30px;
	transform: translate(-3.5rem, -1rem);
	color: #b3b2b2;
}

.P-D-btns {
	background-color: transparent;
	border: none;
}
.popup-card button:hover {
	cursor: pointer;
}
.P-D-btns-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 3%;
	/* background-color: hsl(0, 0%, 70%); */
	border-radius: 20px;
}

.P-D-btns-container::after {
	background-color: yellow;
}

.info-txt {
	color: #333;
	font-family: 'Lato', serif;
}

/* -------------------------------- ToggleBtn ------------------------------- */
.toggleCheckbox {
	display: none;
}

.toggleContainer {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	height: 2.5rem;
	border: 3px solid red;
	border-radius: 20px;
	background: white;
	padding-bottom: 5%;
	font-weight: bold;
	color: #343434;
	cursor: pointer;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
}

.toggleContainer::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0%;
	border-radius: 20px;
	background: #f2022f;
	transition: all 0.3s;
}

.toggleContainer div {
	padding: 6px;
	text-align: center;
	z-index: 1;
}

.toggleCheckbox:checked + .toggleContainer::before {
	left: 50%;
}

.toggleCheckbox:checked + .toggleContainer div:first-child {
	color: #f2022f;
	transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child {
	color: white;
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child {
	color: white;
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child {
	color: #f2022f;
	transition: color 0.3s;
}

/* ------------------------------ ToggleBtn End ----------------------------- */

.form-container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	font-family: 'Lato', serif;

	/* height:100%; */
}
.form-container input,
.form-container select {
	border: none;
	background-color: hsl(0, 0%, 89%);
	width: 100%;
	border-radius: 20px;
	padding: 2%;
	font-family: 'Lato', serif;
	margin-top: 5px;
	color: grey;
}

.form-container input {
	font-size: 1.15rem;
}

.form-container select {
	font-size: 1rem;
}
input[type='text'] {
	font-size: 1rem;
}

.form-container h4 {
	color: #333;
}

option:value {
	color: hsl(0, 0%, 70%);
}
.Update-Btn {
	/* display: flex; */
	/* background-color: #f2e205; */
	background-color: #f2022f;
	color: white;
	font-family: 'Arvo', serif;
	margin-top: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	padding: 5%;
	width: 80%;
	height: fit-content;
	padding: 3%;
	border: none;
	border-radius: 20px;
}

.Update-Btn:hover {
	/* background-color: #ddcf07; */
	background-color: #d20329;
}
.Update-Btn:active {
	/* background-color: #ccbf08; */
	background-color: #99041f;
}
/* ---------------------------------------------------- */
/* ------               Footer Section       ---------- */
/* ---------------------------------------------------- */
footer a {
	color: hsl(100, 100%, 100%);
	text-decoration: none;
}
footer ion-icon {
	font-size: 30px;
	color: hsl(349, 96%, 28%);
}
.footer-container {
	display: flex;
	overflow: hidden;
	justify-content: space-evenly;
	align-items: center;
	background-color: hsl(349, 96%, 44%);
	height: 200px;
	position: relative;
}
.about {
	display: flex;
	gap: 20px;
}
.icon-footer {
	display: flex;
	gap: 20px;
}

.copyright {
	display: block;
	width: 30%;
	text-wrap: wrap;
	text-align: center;
	color: #850e19;
}

body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ------------------------------- CTA Section ------------------------------ */

.cta {
	display: flex;
	place-content: center;
	/* margin-top: 20px;
	margin-bottom: 20px; */
	background-image: url('LosPollosImages-gif/header.jpg');

	background-position: 0 50%;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
}

.cta img {
	width: 500px;
	height: 300px;
	object-fit: fit;
	border-radius: 10px;
}

.cta {
	height: 20rem;
	width: 100%;
}

.cta-inner {
	display: table;
	text-align: center;
	font-family: 'Arvo', serif;
}

.cta-inner p {
	font-size: 5.5rem;
	font-weight: 800;
	color: white;
	-webkit-text-stroke: 3px #f2022f;
}

.cta-inner .order-nw {
	/* transform: translate(-150px, -50px); */

	transform: translateY(-10px);
	font-size: 30px;
	padding: 1rem;
	width: 20rem;
	border-radius: 8px;
	transition: background-color 0.5s ease;
	font-weight: 700;
	border: 4px solid white;
	background-color: #f2022f;
	color: white;
	text-transform: uppercase;
	box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.cta-inner a {
	text-decoration: none;
	color: inherit;
}

.cta-inner .order-nw:hover {
	cursor: pointer;
	background-color: white;
	color: #f2022f;
	border: 4px solid #f2022f;
}

.cta-inner .order-nw:active {
	background-color: rgb(233, 229, 229);
	transition: 0s;
}

/* --------------------------------- Navigation --------------------------------- */
#logo {
	width: 100px;
	margin-right: -80px;
}
.header {
	display: flex;
	flex-direction: row;
	background-color: #f20530;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}
.header a {
	color: white;
	text-decoration: none;
}
.userNav,
.nav,
.logo {
	display: flex;
	align-items: center;
	gap: 40px;
}

.nav a {
	max-width: max-content;
}

.nav a:hover,
.userNav a:hover {
	color: #f2e205;
}
.Modalbutton {
	color: white;
	background-color: transparent;
	border: none;
	font-family: 'Lato', serif;
	font-weight: 600;
	font-style: normal;
	font-size: medium;
}
.Modalbutton ion-icon {
	color: #f2e205;
}

.Modalbutton:hover {
	color: #f2e205;
	cursor: pointer;
}

#Searchbar {
	border-radius: 20px;
	background-color: hsl(349, 96%, 45%);
	border: none;
	color: white;
	padding: 10px;
	width: 50%;
	margin-left: -30px;
	margin-right: -50px;
}
#Searchbar::placeholder {
	color: hsl(0, 0%, 70%);
}
#Searchbar:focus {
	outline: none;
	border: none;
	/* background-color: none; */
}
#UserProf,
#Cart {
	font-size: 30px;
	color: #f2e205;
}
#Navbtn {
	display: flex;
	background-color: #f2e205;
	justify-content: center;
	border-radius: 10px;
	width: 120px;
	padding: 3%;
	color: rgb(205, 89, 0);
	font-weight: 900;
}
#Navbtn:hover {
	color: rgb(205, 89, 0);
	transform: scale(1.2);
	box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
	transition: 0.4s;
}

/* -------------------------------------------------------------------------- */
/*                            Info Container Styles                           */
/* -------------------------------------------------------------------------- */
.info-container {
	height: 35rem;
	padding-bottom: 50px;
}

.info-inner h1 {
	margin-top: 50px;
	font-size: 3rem;
	font-family: 'Arvo', serif;
	font-weight: 600;
	color: #f2022f;
	margin-left: 3px;
}

.info-inner {
	width: 50%;
}

.info-description {
	font-family: 'Montserrat', serif;
	font-size: 1.2rem;
	line-height: 1.5;
	text-wrap: wrap;
}

.info-description span {
	color: #d71d3f;
	text-decoration: underline;
}

.info-description span:hover {
	cursor: pointer;
}

.info-flex {
	display: flex;
}

.info-inner-right img {
	margin-top: 40px;
	height: 30rem;
	width: 25rem;
	margin-left: 5rem;
	border: 15px solid #fde944;
	border-radius: 5px;
	object-fit: cover;
}

/* -------------------------------------------------------------------------- */
/*                                 Form Styles                                */
/* -------------------------------------------------------------------------- */
.form-inner {
	display: grid;
	grid-template-columns: 2, 1fr;
}

.flex {
	/* display: flex; */
}

.form-section img {
	height: 10rem;
	width: 7rem;
}

.form-section {
	background-color: #fde944;
	padding: 60px 20px;
	padding-bottom: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.form-container {
	max-width: 1000px;
	width: 100%;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
	font-size: 2.3em;
	color: #d71d3f;
	margin-bottom: 15px;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
}

.form-container p {
	font-size: 1.2em;
	color: #777;
	margin-bottom: 30px;
}

/* Form Styles */
.catering-form {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

label {
	font-size: 1em;
	margin-bottom: 8px;
	color: #333;
}

input,
select {
	font-size: 1em;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	width: 100%;
	background-color: #f9f9f9;
}

input:focus,
select:focus {
	border-color: #d71d3f;
	outline: none;
}

.form-group textarea {
	resize: none;
	width: 60rem;
	height: 10rem;
	border-color: #dddddd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.form-button {
	margin-top: 2rem;
	padding: 12px 20px;
	font-size: 1.3em;
	background: #d71d3f;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border: 1px solid #d71d3f;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Arvo', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
}

.form-container a {
	color: #d71d3f;
}

.cta-button:hover {
	background: #d03934;
}

/* ---------------------------------------------------- */
/* ------               Footer Section       ---------- */
/* ---------------------------------------------------- */
footer a {
	color: hsl(100, 100%, 100%);
	text-decoration: none;
}
footer ion-icon {
	font-size: 30px;
	color: hsl(349, 96%, 28%);
}
.footer-container {
	display: flex;
	overflow: hidden;
	justify-content: space-evenly;
	align-items: center;
	background-color: hsl(349, 96%, 44%);
	height: 200px;
	position: relative;
}
.about {
	display: flex;
	gap: 20px;
}
.icon-footer {
	display: flex;
	gap: 20px;
}

.copyright {
	display: block;
	width: 30%;
	text-wrap: wrap;
	text-align: center;
	color: #850e19;
}
