* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.Fish {
   
    position: absolute;
    margin-top: 100px;
    margin-left: 130px;
    width: 600px;
    height: 500px;
    align-content: center;
    text-align: center;
    border-radius: 20px;
   
}
.Fish img {
    width: 500px;
    height: 400px;
    border: 1px solid white;
    
}

.Fish h3 {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.SugarCookie {
    background-color: #F20530;
    position: absolute;
    margin-top: 100px;
    margin-left: 880px;
    width: 300px;
    height: 300px;
    align-content: center;
    text-align: center;
    border-radius: 20px;
   
   
}
.SugarCookie img {
    width: 200px;
    height: 200px;
    
}

.SugarCookie h3 {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}