/* ---------------------------------------------------- */
/* ------               Universal             ----------*/
/* ---------------------------------------------------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
}

/* h3 {
	font-family: 'Goblin One', serif;
	font-weight: 400;
	font-style: normal;
	color: #f20530;
} */

h3 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	line-height: 1.5;
	font-style: normal;
	color: #f20530;
}

p {
	font-family: 'Lato', serif;
	font-weight: 400;
	font-style: normal;
}
a {
	font-family: 'Lato', serif;
	font-weight: 600;
	font-style: normal;
}
@keyframes fadein {
	/* animation*/
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* ---------------------------------------------------- */
/* ------               Header Section       ----------*/
/* ---------------------------------------------------- */

#logo {
	width: 100px;
}
.header {
	display: flex;
	flex-direction: row;
	background-color: #f20530;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}
.header a {
	color: white;
	text-decoration: none;
}
.userNav,
.nav,
.logo {
	display: flex;
	align-items: center;
	gap: 40px;
}

.nav a:hover,
.userNav a:hover {
	color: #f2e205;
}
.Modalbutton {
	color: white;
	background-color: transparent;
	border: none;
	font-family: 'Lato', serif;
	font-weight: 600;
	font-style: normal;
	font-size: medium;
}
.Modalbutton ion-icon {
	color: #f2e205;
}

.Modalbutton:hover {
	color: #f2e205;
	cursor: pointer;
}

#Searchbar {
	border-radius: 20px;
	background-color: hsl(349, 96%, 45%);
	border: none;
	color: white;
	padding: 10px;
	font-family: 'Lato', serif;
	font-weight: 600;
}
#Searchbar::placeholder {
	/* color: hsl(0, 0%, 70%); */
	color: white;
}
#Searchbar:focus {
	/* border: solid yellow; */
	/* background-color: none; */
}
#UserProf,
#Cart {
	font-size: 30px;
	color: #f2e205;
}
#Navbtn {
	display: flex;
	background-color: #f2e205;
	justify-content: center;
	border-radius: 10px;
	width: 120px;
	padding: 3%;
	color: rgb(205, 89, 0);
	font-weight: 900;
}
#Navbtn:hover {
	color: rgb(205, 89, 0);
	transform: scale(1.2);
	box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
	transition: 0.4s;
}

/* --------------------------------------------End Of Header--------------------------- */

.Deal {
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
	/* width: 100%;
    height: 500px; */
}
.video {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
}

/* .circle {
	background-color: yellow;
	border-radius: 50%;
	width: 100%;
} */

.video img {
	width: 550px;
	animation: fadein 2s ease-in forwards;
	padding: 2rem;
}

.back-vid {
	width: 100%;
	height: 600px;
	top: 0;
	left: 0;
	object-fit: fill;
	z-index: -1;
	position: absolute;
}
/* -----------------End of Video Section------------------ */
.exploreMenu {
	height: 100%;
	padding: 30px;
	/* background-color: #f2022f; */
	background-color: #fedc09;
}
.Card {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* background-color: #f2e205; */
	background-color: white;
	width: 100%;
	height: 300px;
	border-radius: 20px;

	box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
	--border-radius: 20px;
}
.Card:nth-of-type(2) {
	overflow: hidden;
	display: flex;
}
.MenuCard-Container {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.MenuCardInfo {
	display: flex;
	font-size: 1.3rem;
	/* font-size: larger; */
	row-gap: 20px;
	width: 80%;
	height: 5%;
	flex-direction: column;
	justify-content: center;
	line-height: 1.5;
	padding: 2%;
	color: #333;
}
.Card img {
	height: 300px;

	border-radius: var(--border-radius);
	padding-right: 20px;
}
#Image2 {
	transform: translateY(150px);
	height: 650px;
	/* width:80%; */
	padding-right: 0px;
	/* padding-left: 20px; */
}
.btn {
	display: flex;
	background-color: #f20530;
	color: white;
	text-decoration: none;
	justify-content: center;
	width: 150px;
	padding: 3%;
	border-radius: 20px;
}
.btn:hover {
	transform: scale(1.05);
	box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
	transition: 0.3s;
}
/* ------------------------------------------End of Explore Section--------------------------------------------------------- */

.cater-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: url('LosPollosImages-gif/LPH-Cater.png');
	background-size: 1650px;
	background-position: center;
	height: 500px;
}
.Catercard {
	width: 40%;
	padding: 3%;
	flex-direction: column;
	gap: 20px;
}

.Catercard p {
	font-size: 1.15rem !important;
	line-height: 1.5;
	color: #333;
}
.Catercard h3 {
	color: #f20530;
	font-size: 1.56rem;
}
.Catercard .btn {
	width: 300px;
}
/* --------------------------------- End of Cater Section------------------------------------------ */
.explore2 {
	padding: 3% 0%;
	background-color: #67adda;
}

.explore2 .Card:hover {
	transform: scale(1.05);
	box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
	transition: 0.5s;
}

.explore2 h3 {
	color: #2a5399;
}
.card-containers {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5%;
}
.square-info {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding: 3% 5%;
	color: #333;
	font-size: 1.12rem;
	word-spacing: normal;
	line-height: 1.5;
}
.image {
	overflow: hidden;
	height: 200px;
}
.Square img {
	position: relative;
	bottom: 120px;
	left: 20px;
	height: 385px;
}

.Square {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	width: 350px;
	height: 450px;
}
.btn-container {
	display: flex;
	flex-direction: row;
	gap: 2%;
}
#takeOut {
	height: 465px;
}
/* --------------------------------------------End of Second Cards--------------------------------------------- */
.Testimonial-Carousel {
	overflow: hidden;
	width: 100%;
}

#TestimonialSection h3 {
	font-size: 50px;
	-webkit-text-stroke-width: 2px;
	font-weight: 500;
	margin-top: 1.55rem;
	color: white !important;
	/* -webkit-text-stroke-color: #002a86; */
}

#TestimonialSection {
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 40px;
	height: 550px;
	text-align: center;
	padding: 3% 0;
	background-size: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
		url(LosPollosImages-gif/InsideStore.webp);
	background-position: center;
	background-color: hsla(0, 0%, 0%, 0.7);
}
.Testimonial-Container {
	display: flex;
	transition: transform 0.5s ease-in-out;
	width: 100%;
	margin-left: 350px;
	row-gap: 30px;
}
.Testimonial-Card {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding: 2% 0;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 24px;
	font-style: italic;
	min-width: 700px;
	margin-right: 450px;
	box-sizing: border-box;
	color: black;
	text-wrap: wrap;
	background-color: #fddb04;
	border-radius: 6px;
}

.Testimonial-Card::before {
	content: '\201C';
	font-family: Arial Black, Arial, sans-serif;
	font-size: 6rem;
	transform: translate(-1.8rem, -5.5rem);
	color: #dd052d;
	position: absolute;
}

.Testimonial-Card::after {
	font-family: Arial Black, Arial, sans-serif;
	font-size: 6rem;
	position: absolute;
	content: '\201D';
	color: #dd052d;
	transform: translate(41rem, 11rem);
}

span {
	color: #dd052d;
	font-weight: 800;
}

.Testimonial-Customer {
	display: flex;
	flex-wrap: wrap;
	gap: 1%;
	justify-content: center;
	align-items: center;
}

.Testimonial-Card img {
	width: 70px;
	border-radius: 60%;
}

.Testimonial-Card p {
	/* width: 80%; */
	text-align: center;
	color: #dd052d;
	font-weight: 700;
}

.buttons {
	display: flex;
	gap: 3%;
	margin-top: 2%;
}
.slide {
	background-color: transparent;
	border: none;
	font-size: 50px;
	color: #f20530;
}
.slide:hover {
	transform: scale(1.2);
}
#Prev-TestBtn {
	margin-left: 70%;
}

/* mark {
	display: inline-block;
	line-height: 1px;
	padding-bottom: 0.5em;
	background-color: #2d50a9;
	color: white;
} */

hr {
	border: 3px solid red;
	width: 20%;
	align-self: center;
	padding: 0;
	margin-top: -2rem;
	gap: 0;
	border-radius: 6px;
}

/*---------------------------------------------End of Testimonial Section--------------------------------------------- */
.secret {
	display: flex;

	margin: 0;
	padding: 0;
	height: 200px;
}

#SecretGus {
	display: flex;
	position: absolute;

	width: 100px;

	bottom: -200px;
	transition: bottom 0.5s ease;
}
.footer-container:hover #SecretGus {
	bottom: 0;
}

/* -----------------------------------------------End Of Secret--------------------------------------------------- */

footer a {
	color: hsl(100, 100%, 100%);
	text-decoration: none;
}
footer ion-icon {
	font-size: 30px;
	color: hsl(349, 96%, 28%);
}
.footer-container {
	display: flex;
	overflow: hidden;
	justify-content: space-evenly;
	align-items: center;
	background-color: hsl(349, 96%, 44%);
	height: 200px;
	position: relative;
}
.about {
	display: flex;
	gap: 20px;
}
.icon-footer {
	display: flex;
	gap: 20px;
}

.Delivery-Main:active {
	background-color: red;
}

.Delivery-Main,
.Pickup-Main {
	font-family: 'Lato', serif;
	font-size: 1rem;
	font-weight: 600;
}

.SecretModal {
	z-index: 1;
	display: none;
	position: fixed;
	/* overflow: scroll; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: hslhsl(0, 0%, 0%, 0.4);
}
.secretpopup-container {
	margin: 6.5% 37%;
	animation: animateTop 0.8s;
}
.SecretCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5% auto;
	background-color: hsl(0, 0%, 97%);
	height: 100px;
	width: 250px;
	padding: 6%;
	border-radius: 20px;
	row-gap: 20px;
}
/* -------------------------------------------------------------------------- */
/*                                Modal pop up                              */
/* -------------------------------------------------------------------------- */
@keyframes animateTop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
.popup-container {
	margin: 6.5% 37%;
	animation: animateTop 0.8s;
}
.modal {
	z-index: 1;
	display: none;
	position: fixed;
	/* overflow: scroll; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: hsl(0, 0%, 0%, 0.4);
}
.popup-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5% auto;
	background-color: hsl(0, 0%, 97%);
	height: 500px;
	width: 350px;
	padding: 6%;
	border-radius: 20px;
	row-gap: 20px;
}
.popup-head {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 200px;
}
.popup-head h5 {
	font-family: 'Arvo', 'Lato', serif;
	justify-self: center;
	transform: translate(7rem, 0%);
	font-size: 1.6rem;
	font-weight: 600;
	width: max-content;
	text-transform: uppercase;
}

.Closebtn {
	background-color: transparent;
	border: none;
	width: 20px;
	font-size: 30px;
	transform: translate(-3.5rem, -1rem);
	color: #b3b2b2;
}

.P-D-btns {
	background-color: transparent;
	border: none;
}
.popup-card button:hover {
	cursor: pointer;
}
.P-D-btns-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 3%;
	/* background-color: hsl(0, 0%, 70%); */
	border-radius: 20px;
}

.P-D-btns-container::after {
	background-color: yellow;
}

.info-txt {
	color: #333;
	font-family: 'Lato', serif;
}

/* -------------------------------- ToggleBtn ------------------------------- */
.toggleCheckbox {
	display: none;
}

.toggleContainer {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	height: 2.5rem;
	border: 3px solid red;
	border-radius: 20px;
	background: white;
	padding-bottom: 5%;
	font-weight: bold;
	color: #343434;
	cursor: pointer;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
}

.toggleContainer::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0%;
	border-radius: 20px;
	background: #f2022f;
	transition: all 0.3s;
}

.toggleContainer div {
	padding: 6px;
	text-align: center;
	z-index: 1;
}

.toggleCheckbox:checked + .toggleContainer::before {
	left: 50%;
}

.toggleCheckbox:checked + .toggleContainer div:first-child {
	color: #f2022f;
	transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child {
	color: white;
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child {
	color: white;
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child {
	color: #f2022f;
	transition: color 0.3s;
}

/* ------------------------------ ToggleBtn End ----------------------------- */

.form-container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	font-family: 'Lato', serif;

	/* height:100%; */
}
.form-container input,
.form-container select {
	border: none;
	background-color: hsl(0, 0%, 89%);
	width: 100%;
	border-radius: 20px;
	padding: 2%;
	font-family: 'Lato', serif;
	margin-top: 5px;
	color: grey;
}

.form-container input {
	font-size: 1.15rem;
}

.form-container select {
	font-size: 1rem;
}
input[type='text'] {
	font-size: 1rem;
}

.form-container h4 {
	color: #333;
}

option:value {
	color: hsl(0, 0%, 70%);
}
.Update-btn {
	/* display: flex; */
	/* background-color: #f2e205; */
	background-color: #f2022f;
	color: white;
	font-family: 'Arvo', serif;
	margin-top: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	padding: 5%;
	width: 80%;
	height: fit-content;
	padding: 3%;
	border: none;
	border-radius: 20px;
}

.Update-btn:hover {
	/* background-color: #ddcf07; */
	background-color: #d20329;
}
.Update-btn:active {
	/* background-color: #ccbf08; */
	background-color: #99041f;
}