/* -------------------------------------------------------------------------- */
/*                                 Universals                                 */
/* -------------------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* --------------------------------- colors --------------------------------- */
:root {
	--dark-blue: #021f59;
	--teal: #05c7f2;
	--warm-blue: #4aa3e3;
	--main-red: #f20519;
	--secondary-red: #f20530;
	--main-yellow: #f2e205;
	--warm-yellow: #f0af02;
	--light-grey: #666;
}

body {
	height: 100vh;
	background-color: whitesmoke;
}
h3 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	line-height: 1.5;
	font-style: normal;
	color: #f20530;
}
p {
	font-family: 'Lato', serif;
	font-weight: 400;
	font-style: normal;
}
a {
	font-family: 'Lato', serif;
	font-weight: 600;
	font-style: normal;
}
/* -------------------------------------------------------------------------- */
/*                                Sticky header                               */
/* -------------------------------------------------------------------------- */

#logo {
	width: 100px;
}
.header {
	display: flex;
	flex-direction: row;
	background-color: #f20530;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}
.header a {
	color: white;
	text-decoration: none;
}
.userNav,
.nav,
.logo {
	display: flex;
	align-items: center;
	gap: 40px;
}

.nav a:hover,
.userNav a:hover {
	color: #f2e205;
}
.Modalbutton {
	color: white;
	background-color: transparent;
	border: none;
	font-family: 'Lato', serif;
	font-weight: 600;
	font-style: normal;
	font-size: medium;
}
.Modalbutton ion-icon {
	color: #f2e205;
}

.Modalbutton:hover {
	color: #f2e205;
	cursor: pointer;
}

#Searchbar {
	border-radius: 20px;
	background-color: hsl(349, 96%, 45%);
	border: none;
	color: white;
	padding: 10px;
}
#Searchbar::placeholder {
	color: hsl(0, 0%, 70%);
}
#Searchbar:focus {
	outline: none;
	border: none;
	/* background-color: none; */
}
#UserProf,
#Cart {
	font-size: 30px;
	color: #f2e205;
}
#Navbtn {
	display: flex;
	background-color: #f2e205;
	justify-content: center;
	border-radius: 10px;
	width: 120px;
	padding: 3%;
	color: rgb(205, 89, 0);
	font-weight: 900;
}
#Navbtn:hover {
	color: rgb(205, 89, 0);
	transform: scale(1.2);
	box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
	transition: 0.4s;
}

/* -------------------------------------------------------------------------- */
/*                                 Nav Styles                                 */
/* -------------------------------------------------------------------------- */

.menu-nav {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding-top: 2rem;
	padding-bottom: 2rem;
	place-content: center;
	z-index: 1000;
	top: 0;
	width: 100%;
	background-color: var(--secondary-red);
	color: white;
	position: sticky;
	top: 0;
}

.menu-nav a:hover {
	border-bottom: 3px solid white;
	transition: 0.3s;
}

.menu-nav a {
	text-decoration: none;
	color: white;
}

.menu-nav a:last-child:hover {
	border-bottom: none;
}

.location-button {
	display: block;
	color: white;
}

ion-icon {
	font-size: 20px;
}

.menu-nav li {
	margin-right: 2.5rem;
	font-size: 1rem;
	font-family: 'Arvo', serif;
	color: white;
	text-transform: uppercase;
	font-weight: 550;
}

.menu-nav li:hover {
	cursor: pointer;
}

.menu-nav::after {
	content: button;
}

.location-button {
	font-size: 1rem;
	background-color: transparent;
	border-style: none;
	cursor: pointer;
	margin-left: -20px;
}
.cta {
	display: flex;
	place-content: center;
	/* margin-top: 20px;
	margin-bottom: 20px; */
	background-image: url('LosPollosImages-gif/chicken-header.jpg');
	background-position: 0 50%;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
}

.cta img {
	width: 500px;
	height: 300px;
	object-fit: fit;
	border-radius: 10px;
}
/* -------------------------------------------------------------------------- */
/*                                 Card Styles                                */
/* -------------------------------------------------------------------------- */
.selection{
	padding-top: 2%;
	padding-bottom: 2%;
}
.section-title {
	text-transform: uppercase;
	display: flex;
	margin-top: 0.5%;
	justify-content: center;
	font-size: 2.5rem;
	font-family: 'Arvo', serif;
	/* color: #ff4742; */
	font-weight: 900;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #761512;
	color: var(--main-red);
}

.title-style {
	
	display: flex;
	justify-content: left;
	margin-left: 11%;
	transform: translatey(220%);
}

#tenders img[src^='LosPoillosImages/chicken-tenders.webp'] {
	height: 10rem;
}

.items-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-top: 10%;
	padding-bottom: 1rem;
}

.card-bottom {
	padding-bottom: 3rem;
}

.item-card {
	display: flex;
	flex-direction: row;
	background-color: white;
	padding-left: 0.625rem;
	border-radius: 0.625rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.4s ease;
	width: 90%;
	height: 13rem;
	margin-right: 5rem;
}

.item-card:hover {
	box-shadow: 0 0 0 0 3.125rem rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
}

.menu-add {
	margin-top: 0.9375rem;
	background-color: #666;
	width: 6.25rem;
	display: block;
	position: absolute;
	/* transform: translateY(220%); */
	background: var(--main-red);
	border: .0625rem solid var(--main-red);
	border-radius: .375rem;
	box-shadow: rgba(0, 0, 0, 0.1) .0625rem .125rem .25rem;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Monsterrat', sans-serif;
	font-size: .75rem;
	font-weight: 800;
	min-height: 2.5rem;
	padding: .75rem .875rem;
	text-align: center;
}

.menu-add:hover {
	background: #cd3530;
	transition: 0.2s;
}

.item-info {
	margin-top: 2rem;
	margin-left: 1.25rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 17.5rem;
	font-family: 'Montserrat', serif;
	font-size: 1rem;
}
.item-card img {
	margin-top: .9375rem;
	padding-top: .3125rem;
	height: 10rem;
	width: 10rem;
	object-fit: contain;
}

.item-info p {
	color: #737272;
	line-height: 1.2;
	margin-top: 0.5rem;
}

.item-header {
	font-weight: 600;
}

.item-description {
	font-size: .8125rem;
}

#desserts img[src='LosPollosImages-gif/applepie.png'] {
	height: 10rem;
	width: 8rem;
	object-fit: cover;
}

#desserts img[src='LosPollosImages-gif/frenchstix.png'] {
	object-fit: cover;
	height: 6.25rem;
	width: 8rem;
	transform: translateY(3.125rem);
}

/* -------------------------------- backtotop ------------------------------- */
#topBtn {
	display: none;
	position: fixed;
	bottom: 1.25rem;
	right: 1.875rem;
	z-index: 99;
	border: none;
	background-color: var(--secondary-red);
	color: white;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 800;
	padding: .938rem 1.25rem;
	border-radius: 3.75rem;
	text-align: center;
	transition: 0.3s;
	text-transform: uppercase;
}

#topBtn:hover {
	background-color: rgb(154, 8, 8);
}
/* -------------------------------------------------------------------------- */
/*                             Breakfast container                            */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */
@media (max-width: 48rem) {
	.item-card {
		width: 150%;
	}
}
/* -------------------------------------------------------------------------- */
/*                                Modal pop up                              */
/* -------------------------------------------------------------------------- */
@keyframes animateTop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
.popup-container {
	margin: 6.5% 37%;
	animation: animateTop 0.8s;
}
.modal {
	z-index: 1001;
	display: none;
	position: fixed;
	/* overflow: scroll; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: hsl(0, 0%, 0%, 0.4);
}
.popup-card {
	display: flex;
	/* overflow: scroll; */
	flex-direction: column;
	align-items: center;
	margin: 5% auto;
	background-color: hsl(0, 0%, 97%);
	height: 41.25rem;
	width: 350px;
	padding: 6%;
	border-radius: 20px;
	row-gap: 20px;
}
.popup-head {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 200px;
}
.popup-head h5 {
	font-family: 'Arvo', 'Lato', serif;
	justify-self: center;
	transform: translate(7rem, 0%);
	font-size: 1.6rem;
	font-weight: 600;
	width: max-content;
	text-transform: uppercase;
}

.Closebtn {
	background-color: transparent;
	border: none;
	width: 20px;
	font-size: 30px;
	transform: translate(-3.5rem, -1rem);
	color: #b3b2b2;
}

.P-D-btns {
	background-color: transparent;
	border: none;
}
.popup-card button:hover {
	cursor: pointer;
}
.P-D-btns-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 3%;
	/* background-color: hsl(0, 0%, 70%); */
	border-radius: 20px;
}

.P-D-btns-container::after {
	background-color: yellow;
}

.info-txt {
	color: #333;
	font-family: 'Lato', serif;
}

/* -------------------------------- ToggleBtn ------------------------------- */
.toggleCheckbox {
	display: none;
}

.toggleContainer {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	height: 2.5rem;
	border: 3px solid red;
	border-radius: 20px;
	background: white;
	padding-bottom: 5%;
	font-weight: bold;
	color: #343434;
	cursor: pointer;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
}

.toggleContainer::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0%;
	border-radius: 20px;
	background: #f2022f;
	transition: all 0.3s;
}

.toggleContainer div {
	padding: 6px;
	text-align: center;
	z-index: 1;
}

.toggleCheckbox:checked + .toggleContainer::before {
	left: 50%;
}

.toggleCheckbox:checked + .toggleContainer div:first-child {
	color: #f2022f;
	transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child {
	color: white;
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child {
	color: white;
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child {
	color: #f2022f;
	transition: color 0.3s;
}

/* ------------------------------ ToggleBtn End ----------------------------- */

.form-container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	font-family: 'Lato', serif;

	/* height:100%; */
}
.form-container input,
.form-container select {
	border: none;
	background-color: hsl(0, 0%, 89%);
	width: 100%;
	border-radius: 20px;
	padding: 2%;
	font-family: 'Lato', serif;
	margin-top: 5px;
	color: grey;
}

.form-container input {
	font-size: 1.15rem;
}

.form-container select {
	font-size: 1rem;
}
input[type='text'] {
	font-size: 1rem;
}

.form-container h4 {
	color: #333;
}

option:value {
	color: hsl(0, 0%, 70%);
}
.Update-Btn {
	/* display: flex; */
	/* background-color: #f2e205; */
	background-color: #f2022f;
	color: white;
	font-family: 'Arvo', serif;
	margin-top: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	padding: 5%;
	width: 80%;
	height: fit-content;
	padding: 3%;
	border: none;
	border-radius: 20px;
}

.Update-Btn:hover {
	/* background-color: #ddcf07; */
	background-color: #d20329;
}
.Update-Btn:active {
	/* background-color: #ccbf08; */
	background-color: #99041f;
}
/* ---------------------------------------------------- */
/* ------               Footer Section       ---------- */
/* ---------------------------------------------------- */
footer a {
	color: hsl(100, 100%, 100%);
	text-decoration: none;
}
footer ion-icon {
	font-size: 30px;
	color: hsl(349, 96%, 28%);
}
.footer-container {
	display: flex;
	overflow: hidden;
	justify-content: space-evenly;
	align-items: center;
	background-color: hsl(349, 96%, 44%);
	height: 200px;
	position: relative;
	margin-top: 5rem;
}
.about {
	display: flex;
	gap: 20px;
}
.icon-footer {
	display: flex;
	gap: 20px;
}

.copyright {
	display: block;
	width: 30%;
	text-wrap: wrap;
	text-align: center;
	color: #850e19;
}