/* ---------------------------------------------------- */
/* ------               Universal             ----------*/
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ------               Universal             ----------*/
/* ---------------------------------------------------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
html,
body {
	width: 100%;
	overflow-x: hidden;
}

/* h3 {
	font-family: 'Goblin One', serif;
	font-weight: 400;
	font-style: normal;
	color: #f20530;
} */

h3 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	line-height: 1.5;
	font-style: normal;
	text-transform: uppercase;
	color: #f20530;
}

p {
	font-family: 'Lato', serif;
	font-weight: 400;
	font-style: normal;
}
a {
	font-family: 'Lato', serif;
	font-weight: 600;
	font-style: normal;
}
@keyframes fadein {
	/* animation*/
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* ---------------------------------------------------- */
/* ------               Header Section       ----------*/
/* ---------------------------------------------------- */

p {
	font-family: 'Lato', serif;
	font-weight: 400;
	font-style: normal;
}
a {
	font-family: 'Lato', serif;
	font-weight: 600;
	font-style: normal;
}
@keyframes fadein {
	/* animation*/
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* ---------------------------------------------------- */
/* ------               Header Section       ----------*/
/* ---------------------------------------------------- */

#logo {
	width: 100px;
}
.header {
	display: flex;
	flex-direction: row;
	background-color: #f20530;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}
.header a {
	color: white;
	text-decoration: none;
}
.userNav,
.nav,
.logo {
	display: flex;
	align-items: center;
	gap: 40px;
}

.nav a:hover,
.userNav a:hover {
	color: #f2e205;
}
.Modalbutton {
	color: white;
	background-color: transparent;
	border: none;
	font-family: 'Lato', serif;
	font-weight: 600;
	font-style: normal;
	font-size: medium;
	transform: translateY(1rem);
}
.Modalbutton ion-icon {
	color: #f2e205;
}

.Modalbutton:hover {
	color: #f2e205;
	cursor: pointer;
}

#Searchbar {
	border-radius: 20px;
	background-color: hsl(349, 96%, 45%);
	border: none;
	color: white;
	padding: 10px;
}
#Searchbar::placeholder {
	color: hsl(0, 0%, 70%);
	color: hsl(0, 0%, 70%);
}
#Searchbar:focus {
	outline: none;
	border: none;
	outline: none;
	border: none;
	/* background-color: none; */
}
#UserProf,
#Cart {
	font-size: 30px;
	color: #f2e205;
}
#Navbtn {
	display: flex;
	background-color: #f2e205;
	justify-content: center;
	border-radius: 10px;
	width: 120px;
	padding: 3%;
	color: rgb(205, 89, 0);
	font-weight: 900;
}
#Navbtn:hover {
	color: rgb(205, 89, 0);
	transform: scale(1.2);
	box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
	transition: 0.4s;
}
/* -------------------------------------------------------------------------- */
/*                                 Nav Styles                                 */
/* -------------------------------------------------------------------------- */

.menu-nav {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding-top: 2rem;
	padding-bottom: 2rem;
	place-content: center;
	z-index: 1000;
	top: 0;
	width: 100%;
	background-color: var(--secondary-red);
	color: white;
	position: sticky;
	top: 0;
}

.menu-nav a:hover {
	border-bottom: 3px solid white;
	transition: 0.3s;
}

.menu-nav a {
	text-decoration: none;
	color: white;
}

.menu-nav a:last-child:hover {
	border-bottom: none;
}

.location-button {
	display: block;
	color: white;
}

ion-icon {
	font-size: 20px;
}

.menu-nav li {
	margin-right: 2.5rem;
	font-size: 1rem;
	font-family: 'Arvo', serif;
	color: white;
	text-transform: uppercase;
	font-weight: 550;
}

.menu-nav li:hover {
	cursor: pointer;
}

.menu-nav::after {
	content: button;
}

.location-button {
	font-size: 1rem;
	background-color: transparent;
	border-style: none;
	cursor: pointer;
	margin-left: -20px;
}

ion-icon {
	font-size: 20px;
}

.menu-nav li {
	margin-right: 2.5rem;
	font-size: 1rem;
	font-family: 'Arvo', serif;
	color: white;
	text-transform: uppercase;
	font-weight: 550;
}

.menu-nav li:hover {
	cursor: pointer;
}

.menu-nav::after {
	content: button;
}

.location-button {
	font-size: 1rem;
	background-color: transparent;
	border-style: none;
	cursor: pointer;
	margin-left: -20px;
}

ion-icon {
	font-size: 20px;
}

.menu-nav li {
	margin-right: 2.5rem;
	font-size: 1rem;
	font-family: 'Arvo', serif;
	color: white;
	text-transform: uppercase;
	font-weight: 550;
}

.menu-nav li:hover {
	cursor: pointer;
}

.menu-nav::after {
	content: button;
}

.location-button {
	font-size: 1rem;
	background-color: transparent;
	border-style: none;
	cursor: pointer;
	margin-left: -20px;
}

/* ------------------------------ Rewards Start ----------------------------- */

.rewards-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	text-align: center;
	background-color: #f8d845;
	padding: 10%;
}
.rewards-container h3 {
	font-size: 5rem;
}

hr {
	border: 3px solid red;
	width: 20%;
	align-self: center;
	padding: 0;
	margin-top: -2rem;
	gap: 0;
	border-radius: 6px;
}

.reward,
.reward2 {
	width: 500px;
	height: 220px;
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding: 10px 10px;
	position: relative;
	margin-bottom: -2rem;
	margin-top: -5rem;
}

.main {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;
}
.reward::after,
.reward2::after {
	position: absolute;
	content: '';
	height: 40px;
	right: -20px;
	border-radius: 40px;
	z-index: 1;
	top: 70px;
	background-color: #f8d845;
	width: 40px;
}

.reward::before,
.reward2::before {
	position: absolute;
	content: '';
	height: 40px;
	left: -20px;
	border-radius: 40px;
	z-index: 1;
	top: 70px;
	background-color: #f8d845;
	width: 40px;
}

.coupon-img img {
	width: 200px;
	height: 200px;
	place-self: center;
	margin-top: -50px;
}

.content {
	margin-top: 20px;
}

.content h1 {
	font-size: 35px;
	margin-left: -20px;
	color: #565656;
	font-family: 'Arvo', serif;
}

.content h1 span {
	font-size: 18px;
	font-family: 'Lato', serif;
	color: #565656;
}
.content h2 {
	font-size: 1.5rem;
	margin-left: -20px;
	color: #565656;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
}

.content p {
	font-size: 16px;
	color: #696969;
	margin-left: -20px;
}

button {
	margin-top: 20px;
	margin-bottom: 50px;
	width: 150px;
	place-self: center;
	height: px;
	padding: 10px;
	font-size: 1.1rem;
	color: white;
	background-color: #f20530;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 900;
	font-family: 'Lato', serif;
}

button:hover {
	background-color: #d20329;
	transition: 0.2s;
}

@keyframes animateTop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
.popup-container {
	margin: 6.5% 37%;
	animation: animateTop 0.8s;
	height: 100vh;
	display: flex;
}
.modal {
	z-index: 1001;
	display: none;
	position: fixed;
	/* overflow: scroll; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: hsl(0, 0%, 0%, 0.4);
}
.popup-card {
	display: flex;
	/* overflow: scroll; */
	flex-direction: column;
	align-items: center;
	margin: 5% auto;
	background-color: hsl(0, 0%, 97%);
	height: 300%;
	width: 350px;
	padding: 6%;
	border-radius: 20px;
	row-gap: 20px;
}
.popup-head {
	display: flex;
	justify-content: center;
	flex-direction: row;
	/* gap: 200px; */
}
.popup-head h5 {
	font-family: 'Arvo', 'Lato', serif;
	justify-self: center;
	transform: translate(7rem, 0%);
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
}

.Closebtn {
	background-color: transparent;
	border: none;
	width: 20px;
	font-size: 30px;
	transform: translate(-3.5rem, -1rem);
	color: #b3b2b2;
}

.P-D-btns {
	background-color: transparent;
	border: none;
}
.popup-card button:hover {
	cursor: pointer;
}
.P-D-btns-container {
	margin-top: -100px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 3%;
	/* background-color: hsl(0, 0%, 70%); */
	border-radius: 20px;
}

.P-D-btns-container::after {
	background-color: yellow;
}

.info-txt {
	color: #333;
	font-family: 'Lato', serif;
}

/* -------------------------------- ToggleBtn ------------------------------- */
.toggleCheckbox {
	display: none;
}

.toggleContainer {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	height: 2.5rem;
	border: 3px solid red;
	border-radius: 20px;
	background: white;
	padding-bottom: 5%;
	font-weight: bold;
	color: #343434;
	cursor: pointer;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
}

.toggleContainer::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0%;
	border-radius: 20px;
	background: #f2022f;
	transition: all 0.3s;
}

.toggleContainer div {
	padding: 6px;
	text-align: center;
	z-index: 1;
}

.toggleCheckbox:checked + .toggleContainer::before {
	left: 50%;
}

.toggleCheckbox:checked + .toggleContainer div:first-child {
	color: #f2022f;
	transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child {
	color: white;
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child {
	color: white;
	transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child {
	color: #f2022f;
	transition: color 0.3s;
}

/* ------------------------------ ToggleBtn End ----------------------------- */

.form-container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	font-family: 'Lato', serif;
	/* padding-bottom: 100%; */
	height: max-content;
	/* background-color: white; */
}
.form-container input,
.form-container select {
	border: none;
	background-color: hsl(0, 0%, 89%);
	width: 100%;
	border-radius: 20px;
	padding: 2%;
	font-family: 'Lato', serif;
	margin-top: 5px;
	color: grey;
}

.form-container input {
	font-size: 1.15rem;
}

.form-container select {
	font-size: 1rem;
}
input[type='text'] {
	font-size: 1rem;
}

.form-container h4 {
	color: #333;
}

option:value {
	color: hsl(0, 0%, 70%);
}
.Update-Btn {
	/* display: flex; */
	/* background-color: #f2e205; */
	background-color: #f2022f;
	color: white;
	font-family: 'Arvo', serif;
	margin-top: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	padding: 5%;
	width: 80%;
	height: fit-content;
	padding: 3%;
	border: none;
	border-radius: 20px;
}

.Update-Btn:hover {
	/* background-color: #ddcf07; */
	background-color: #d20329;
}
.Update-Btn:active {
	/* background-color: #ccbf08; */
	background-color: #99041f;
}
