* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6c95e7;
    
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F2E205;
    
    text-shadow: 1px 1px 1px black;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    
}

main {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #F2E205;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-left: 670px;
    margin-top: -100px
}

.rewards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.reward {
    max-width: 800px;
    text-align: center;
}
 
.reward h2 {
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px 4px black;
     margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reward img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    
}

.reward button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 1.2rem;
    color: #F20530;
    background-color: #F2E205;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reward button:hover {
    background-color: #F20530;
    color: #F2E205;
}



.reward2 {
    max-width: 800px;
    text-align: center;
}
 
.reward2 h2 {
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px 4px black;
     margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reward2 img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    
}

.reward2 button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 1.2rem;
    color: #F20530;
    background-color: #F2E205;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reward2 button:hover {
    background-color: #F20530;
    color: #F2E205;
}


